@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151527;
  color:whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url('../../public/bg2.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
